{% extends "pages/base.html.twig" %}
{% block title 'Accueil' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue !</h1>
        <main>
            <div class="col-sm12 text-center">
                <img class="img-fluid col-xl-8 col-lg-12 col-md-12 col-sm-12" src="images/forum.jpg" alt="forum" title="S'instruire !"class="img-responsive" >
                <br/>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}